##### Attribute Information:

1. S1 "Suit of card #1"  
   Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}
2. C1 "Rank of card #1"  
   Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)
3. S2 "Suit of card #2"  
   Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}
4. C2 "Rank of card #2"  
   Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)
5. S3 "Suit of card #3"  
   Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}
6. C3 "Rank of card #3"  
   Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)
7. S4 "Suit of card #4"  
   Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}
8. C4 "Rank of card #4"  
   Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)
9. S5 "Suit of card #5"  
   Ordinal (1-4) representing {Hearts, Spades, Diamonds, Clubs}
10. C5 "Rank of card 5"  
    Numerical (1-13) representing (Ace, 2, 3, ... , Queen, King)
11. CLASS "Poker Hand"  
    Ordinal (0-9)

In [15]:
import pandas as pd

df = pd.read_csv("./poker-hand-training-true.data",
                 names=["S1", "C1", "S2", "C2", "S3", "C3", "S4", "C4", "S5", "C5", "CLASS"])
df.head(10)

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5  CLASS
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9
5   1   2   1   4   1   5   1   3   1   6      8
6   1   9   1  12   1  10   1  11   1  13      8
7   2   1   2   2   2   3   2   4   2   5      8
8   3   5   3   6   3   9   3   7   3   8      8
9   4   1   4   4   4   2   4   3   4   5      8

## 1. Preprocess

Remove class label column from training data

In [16]:
y = df['CLASS']
df = df.drop(columns=['CLASS'])
df.head(10)

   S1  C1  S2  C2  S3  C3  S4  C4  S5  C5
0   1  10   1  11   1  13   1  12   1   1
1   2  11   2  13   2  10   2  12   2   1
2   3  12   3  11   3  13   3  10   3   1
3   4  10   4  11   4   1   4  13   4  12
4   4   1   4  13   4  12   4  11   4  10
5   1   2   1   4   1   5   1   3   1   6
6   1   9   1  12   1  10   1  11   1  13
7   2   1   2   2   2   3   2   4   2   5
8   3   5   3   6   3   9   3   7   3   8
9   4   1   4   4   4   2   4   3   4   5

Check for missing values

In [17]:
df.isna().sum()

S1    0
C1    0
S2    0
C2    0
S3    0
C3    0
S4    0
C4    0
S5    0
C5    0
dtype: int64

Apply One-hot encoding

In [18]:
categorical = ["S1", "S2", "S3", "S4", "S5"]

df = pd.get_dummies(df, columns=categorical)
df.head(10)

,C1,C2,C3,C4,C5,S1_1,S1_2,S1_3,S1_4,S2_1,...,S3_3,S3_4,S4_1,S4_2,S4_3,S4_4,S5_1,S5_2,S5_3,S5_4
0,10,11,13,12,1,1,0,0,0,1,...,0,0,1,0,0,0,1,0,0,0
1,11,13,10,12,1,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2,12,11,13,10,1,0,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
3,10,11,1,13,12,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
4,1,13,12,11,10,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1
5,2,4,5,3,6,1,0,0,0,1,...,0,0,1,0,0,0,1,0,0,0
6,9,12,10,11,13,1,0,0,0,1,...,0,0,1,0,0,0,1,0,0,0
7,1,2,3,4,5,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
8,5,6,9,7,8,0,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
9,1,4,2,3,5,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,1